altgraph==0.17
browsermob-proxy==0.8.0
certifi==2020.6.20
chardet==3.0.4
fake-useragent==0.1.11
fbs==0.9.0
filelock==3.0.12
future==0.18.2
idna==2.10
macholib==1.14
modulegraph==0.18
pefile==2019.4.18
py2app==0.22
PyInstaller==3.4
PyQt5==5.15.0
PyQt5-sip==12.8.0
requests==2.25.0
requests-file==1.5.1
selenium==3.141.0
selenium-requests==1.3
six==1.15.0
tldextract==3.0.2
urllib3==1.25.10
